/* app global css */
.chat-box { width: 100%; max-width: 100%; }
@media (max-width: 1023px) { 
  .chat-box { max-width: 100%; }
}

.input-bar {
  height: 5vh;
  margin: 0 auto;
  width: 98%;
  display: flex;
  align-items: center;
}

.chat-box {
  height: 85vh;
}

@media (min-width: 1920px) and (min-height: 1080px) {
  .chat-box { height: 90vh; }
}
